<div class="modal fade" id="modalConfirmacionJS" tabindex="-1" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border-0 shadow">
            <div class="modal-header bg-warning bg-opacity-10 border-bottom-0">
                <h6 class="modal-title text-warning fw-bold">
                    <i class="fa-solid fa-triangle-exclamation me-2"></i>Atención
                </h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <p id="textoConfirmacionJS" class="mb-0 text-muted small fw-bold">
                    </p>
            </div>
            <div class="modal-footer border-top-0 pt-0">
                <button type="button" class="btn btn-sm btn-light" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-sm btn-warning fw-bold" id="btnConfirmarJS">Continuar</button>
            </div>
        </div>
    </div>
</div>