<td class="col-tic"><input type="checkbox" {% if exp.w1 %}checked{% endif %}></td>
<td class="col-tic"><input type="checkbox" {% if exp.ll1 %}checked{% endif %}></td>
<td class="col-tic"><input type="checkbox" {% if exp.w2 %}checked{% endif %}></td>
<td class="col-tic"><input type="checkbox" {% if exp.ll2 %}checked{% endif %}></td>
<td class="col-tic"><input type="checkbox" {% if exp.w3 %}checked{% endif %}></td>
<td class="col-tic"><input type="checkbox" {% if exp.ll3 %}checked{% endif %}></td>
<td class="col-tic"><input type="checkbox" {% if exp.w4 %}checked{% endif %}></td>
<td class="col-tic"><input type="checkbox" {% if exp.ll4 %}checked{% endif %}></td>
<td class="col-tic"><input type="checkbox" {% if exp.w5 %}checked{% endif %}></td>
<td class="col-tic"><input type="checkbox" {% if exp.ll5 %}checked{% endif %}></td>