<div class="modal fade" id="modalNuevoStaff" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title"><i class="fa-solid fa-user-tie me-2"></i>Nuevo Miembro del Staff</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
            </div>
            <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="crear_staff" value="1">
                <div class="modal-body">
                    <div class="row g-3">
                        <div class="col-6"><label>Nombre*</label>{{ form_staff.nombre.errors }}<input type="text" name="nombre" class="form-control" required></div>
                        <div class="col-6"><label>Apellido*</label><input type="text" name="apellido" class="form-control" required></div>
                        <div class="col-12"><label>Email* (Será su usuario)</label><input type="email" name="email" class="form-control" required></div>
                        <div class="col-6"><label>Rol*</label>{{ form_staff.rol }}</div>
                        <div class="col-6"><label>Teléfono</label><input type="text" name="telefono" class="form-control"></div>
                        <div class="col-4"><label>DNI/NIE</label><input type="text" name="dni_nie" class="form-control"></div>
                        <div class="col-4"><label>Ext. Netelip</label><input type="text" name="netelip_ext" class="form-control"></div>
                        <div class="col-4"><label>ID Mercateli</label><input type="text" name="mercateli_id" class="form-control"></div>
                    </div>
                </div>
                <div class="modal-footer bg-light">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary fw-bold">Crear y Generar Clave</button>
                </div>
            </form>
        </div>
    </div>
</div>